@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes coin-bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.coin-animate {
  animation: coin-bounce 400ms ease-out;
}

